package <basePackage>.routing

import com.konvi.generated.RouteScope
import com.konvi.routing.router
import com.konvi.template.view

fun RouteScope.routing() = router {
    get("/") {
        view("index")
    }
}
