package <basePackage>.routing

import com.konvi.generated.AppComponent
import com.konvi.routing.router
import com.konvi.template.view

fun AppComponent.routing() = router {
    get("/") {
        view("index")
    }
}
